@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-button-primary {
  @apply bg-PrimaryBtnColor rounded-lg px-3 py-1 text-black mx-1;
}

.custom-button-bordered {
  @apply border border-PrimaryBtnColor text-PrimaryBtnColor rounded-lg px-3 py-1 mx-1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
